@page
@model IndexModel
@{
    ViewData["Title"] = "BingBONG";
}

<div class="text-center">
    <h1 class="display-4">youre such a stinky little fella</h1>
    <p>.NET CORE IS FOR NERRRRDS</a>.</p>
    <form action="/Greet/Index" method="get">
        <input type="text" name="name"/>
        <input type ="submit" calue="Submit"/>
    </form>
</div>
